{% block body %}
    {% block body_title %}
        <h1>
            {% block body_title_content %}
                {{ dashboard.name }} <small>{{ dashboard.sinceDate|date('d/m/Y H:i:s', timeFilter.timezone, timeFilter.timezone) }} -> {{ dashboard.untilDate|date('d/m/Y H:i:s', timeFilter.timezone) }}</small>
            {% endblock body_title_content %}
        </h1>
    {% endblock body_title %}

    {% block body_timeFilterForm %}
        {% embed 'MetricsBundle:Dashboard:_timeFilterForm.html.twig' %}{% endembed %}
    {% endblock body_timeFilterForm %}

    {% block body_content %}
        <iframe src="{{ dashboard.url }}" height="{{ dashboard.height|default(600) }}" width="{{ dashboard.width|default(800) }}" style="border: 0;"></iframe>
    {% endblock body_content %}
{% endblock body %}
